.sidebar {
	margin: 2rem 0 0 2rem;
	top: 0;
	display: table-cell;
	width: 20%;
	vertical-align: top;
	height: 70%;
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	
	&:after {
		background: #bbbbbb;
		position: absolute;
		content: '';
		border-radius: 1px;
		width: 2px;
		height: 100%;
		top: 0px;
		right: -10px;
		bottom: 15px;
	}
}

.borderCircle {
	border-radius: 9999px;
}

.headingName {
	font-size: 2rem;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 1rem 0;
}

.bioDescription {
	color: #666;
	font-size: 1rem;
}

.navList {
	list-style: none;
	padding: 0;
	line-height: 1.5;
}

.navListItem {
	list-style: inherit;
}

.navListLink {
	color: #666;
	font-size: 1.25rem;
}

.navListLink:hover {
	text-decoration: underline;
}

.active {
	color: #0070f3;
	font-size: 1.4rem;
	text-decoration: underline solid;
}

.socialSection {
	display: flex;
	flex-flow: row nowrap;
}