.postCard {
    border: 1px solid #aaaaaa;
    border-radius: 0 0 5px 5px;
    padding: 0;
    margin-bottom: 50px;
}

.cardClickable {
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    &:hover{
        .postHeading {
            text-decoration: underline;
        }
    }
}

.subtitle {
    color: #626262;
    font-size: 1rem;
    margin: 5px 5px 10px;
}

.smallDate {
    color: #aaaaaa;
    margin: 0 5px;
}

.preview {
    margin: 15px 5px;
    line-height: 1.25;
    font-size: 1rem;
    text-decoration: none !important;
    color: #222222;
}

.postHeading {
    margin: 10px 5px 5px;
}