@import url('https://code.cdn.mozilla.net/fonts/fira.css');

.pageSection {
    display: table-cell;
	width: 80%;
	vertical-align: top;
    padding: 0 5rem;
}

.outerContainer {
	display: table;
	width: 100%;
	height: 100%;
}

.aboutTitle {
    font-size: 2rem;
	margin-bottom: 10px;
	margin-top: 25px;
}

.employment {
	&:before {
		background: #bbbbbb;
		content: '';
		border-radius: 1px;
		height: 2px;
		width: 100%;
		display: block;
	}
}

.employmentDetails {
	padding: 0 2rem;
	margin: 0 0 45px;
}

.employmentTitle {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
	margin: 25px 0 15px;
}

.employmentSubtitle {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
	margin: 15px 0;
}

.titleText {
	margin-right: 2rem;
	margin: 10px 0 2px 0;
}

.dateSpan {
	font-size: 0.75rem;
	color: #525252;
}

.jobDetails{
	line-height: 1.1;
}

.techTagsContainer {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 10px;
}

.techTag {
	display: inline-flex;
	font-family: 'Fira Sans',sans-serif;
	font-size: 0.75rem;
	background-color: #ababab;
	margin: 0 3px 0 0;
	padding: 5px;
	border-radius: 3px;
}