$fira_sans_font_family: 'Fira Sans',sans-serif;

// HEADER AND FOOTER
$header_footer_background_color: #000000dd;

// HEADER
$nav_right_font_size: 1.25rem;
$nav_left_font_size: 1.5rem;
$nav_list_item_color: #888;
$nav_list_active_page_color: #00a370;

// ICONS PAGE
$icon_color: #999999;
$icon_border_color: #999999;
$icon_hover_color: #dddddd;
$icon_border_hover_color: #dddddd;

// PAGE WIDTH
$page_width: 1080px;
$content_width: 700px;