@import '../../styles/vars.scss';

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-style: normal;
    font-weight: normal;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.socialButton {
	color: $icon_color;
	margin-right: 1rem;
	padding: 5px;
	border: 1px solid $icon_border_color;
	align-items: center;
	align-content: center;
	height: 2.1875rem;
	width: 2.1875rem;
	border-radius: 50%;
	display: flex;
}

.socialButton:hover {
	color: $icon_hover_color;
    border-color: $icon_border_hover_color;
    cursor: pointer;
}

.socialButton:focus {
    outline: none;
}